   <h1><%= @people.name %></h1>
      <%= image_tag("#{@configuration.base_url}w154#{@people.profile_path}") if @people.profile_path %>
  
      <h2>
        <table>
          <tr><td>Born:</td><td> <%= @people.place_of_birth %></td></tr>
          <tr><td>Birthday:</td><td> <%= @people.birthday %></td></tr>
        </table>
      </h2>
      
 
        <h1>
          Biography
        </h1>
       
            <%= @people.biography %>
          
        <h1>
          Homepage
        </h1>
        
          
            <%= link_to @people.homepage, @people.homepage %>
        
        <h1>
          Known For
        </h1>
      
                  <% @movies['cast'].first(7).each do |movie| %>
        <%= link_to movie_path(movie['id']) do %>
          <%= image_tag("#{@configuration.base_url}w92#{movie['poster_path']}") if movie['poster_path'] %>
        <% end %>
      <% end %>
          
