  <h1><%= @movie.title %></h1>
      <%= image_tag("#{@configuration.base_url}w154#{@movie.poster_path}") if @movie.poster_path %>

      
      <h2>
      <table class="pure-table">
        <tr><td>Budget:</td><td> $<%= number_with_delimiter(@movie.budget, :delimiter => ',') %></td></tr>
        <tr><td>Revenue:</td><td> $<%= number_with_delimiter(@movie.revenue, :delimiter => ',') %></td></tr>
        <tr><td>Status:</td><td> <%= @movie.status %></td></tr>
        <tr><td>Runtime:</td><td> <%= @movie.runtime %></td></tr>
        <tr><td>Release Date:</td><td> <%= @movie.release_date.to_date.strftime("%d/%m/%Y") if @movie.release_date %></td></tr>
      </table>
      </h2>
      
  
      <% @trailers['youtube'].each do |trailer| %>
        <h1>
          Trailer
        </h1>
      
              <%= link_to "#{trailer['name']} - #{trailer['size']}", "http://www.youtube.com/watch?v=#{trailer['source']}" %>
          
        <h1 class="content-subhead">
          Rating
        </h1>
       
            <%= @movie.vote_average %>">
            <p><%= @movie.vote_average %> from <%= @movie.vote_count %> voters.</p>
          
        <h1>
          Overview
        </h1>
      
            <p><%= @movie.overview %></p>
      
        <h1>
          Tagline
        </h1>
     
            <p><%= @movie.tagline %></p>

        <h1>
          Genres
        </h1>
       
            <p><p><% @movie.genres.each do |genre| %>
              <%= genre['name'] %>
            <% end %></p>
          
        <h1 class="content-subhead">
          Posters
        </h1>
        
            <% @images['posters'].each_with_index do |image| %>
              <%= image_tag("#{@configuration.base_url}w154#{image['file_path']}") if image['file_path'] %>
             <% end %>
            
        <h1>
          Backdrops
        </h1>
       
            <% @images['backdrops'].each_with_index do |image| %>
              <%= image_tag("#{@configuration.base_url}w154#{image['file_path']}") if image['file_path'] %>
             <% end %>
          
          
        <h1>
          Casts
        </h1>
        
            <table>
            <% @cast.first(5).each do |cast| %>
            <tr>
              <td>
                <%= cast_poster cast['profile_path'] %>
                <% unless cast['profile_path'] %>
                  <img src="http://placehold.it/154x154">
                <% end %>
              </td>
              <td>
                <%= link_to cast['name'], person_path(cast['id']) %> as <%= cast['character'] %>
              </td>
            </tr>
            <% end %>
          </table>
         
        <h1>
        Similar Movies
        </h1>
        
                <% if @similar_movies %>
                 <div>
                   <% @similar_movies.first(8).each do |movie| %>
                     <% if movie %>
                        <%= link_to movie_path(movie['id']) do %>
                          <%= movie_poster movie['poster_path'] %>
                        <% end %>
                     <% end %>
                   <% end %>
                <% end %>
